{%- liquid
    unless grid_item_width
        assign grid_item_width = 'small--one-half medium-up--one-third'
    endunless

    unless background_position
        assign background_position = 'center center'
    endunless

    if block.settings.title != blank
        assign title_output = block.settings.title
    else
        if collection.empty?
            assign title_output = 'home_page.onboarding.collection_title' | t
        elsif collection_title
            assign title_output = collection_title
        else
            assign title_output = collection.title | escape
        endif
    endif

    if block.settings.button_id != blank
        assign coll_link_id = block.settings.button_id | replace: 'btn-', 'link-'
    else
        assign coll_link_id = 'link-' | append: collection.title | escape | replace: ' ',''
    endif
-%}

<div class="grid__item {{ grid_item_width }}">
    {%- if block.settings.heading != blank -%}
        <div class="collection-header">
            <h3 class="h3 text-center">{{ block.settings.heading | escape }}</h3>
        </div>
    {%- endif -%}

    <a id="{{ coll_link_id }}" href="{{ collection.url }}" class="collection-item collection-item--{{ settings.collection_grid_style }}" data-aos="row-of-{{ per_row }}">

        {%- liquid
            if settings.collection_grid_image == 'collection' and collection.image
                assign collection_image = collection.image
            else
                assign collection_image = collection.products.first.featured_media.preview_image
            endif
        -%}

        {%- if collection.empty? -%}
            {%- capture placeholder -%}collection-{% cycle 1,2,3,4,5,6 %}{%- endcapture -%}
            <div class="collection-image collection-image--{{ settings.collection_grid_shape }} collection-image--placeholder">{{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}</div>
        {%- else -%}
            <div class="image-wrap">
                <div
                        class="collection-image collection-image--{{ settings.collection_grid_shape }} lazyload"
                        data-bgset="{% render 'bgset', image: collection_image %}"
                        data-sizes="auto"
                        style="background-position: {{ background_position }};">
                </div>
            </div>
            <noscript>
                <div
                        class="collection-image collection-image--{{ settings.collection_grid_shape }}"
                        style="background-image: url({{ collection_image | img_url: '400x' }}); background-position: {{ background_position }};">
                </div>
            </noscript>
        {%- endif -%}

        <span class="collection-item__title collection-item__title--{{ settings.collection_grid_style }} collection-item__title--{{ settings.type_collection_font }} collection-item__title--{{ settings.collection_grid_text_align }}">
          <span>
            {{ title_output }}
          </span>
        </span>
    </a>

    {%- if block.settings.button_label != blank -%}
        <div class="collection-button-row">
            <p class="text-center">{{ block.settings.description | escape }}</p>
        </div>
    {%- endif -%}

    {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
        <div class="text-center collection-button-row">
            <a href="{{ block.settings.button_link }}" id="{{ block.settings.button_id }}" class="btn btn-sm-100">
                {{ block.settings.button_label }}
            </a>
        </div>
    {%- endif -%}

</div>
