{%- capture form_id -%}AddToCartForm-{{ section_id }}{%- endcapture -%}
{%- form 'product', product, data-productid: product.id, id: form_id, class: 'product-single__form' -%}
    <!-- Begin ReCharge code -->
    {% if product.available %}{% render 'subscription-product' with product as product %}{% endif %}
    <!-- End ReCharge code -->


    {%- unless product.has_only_default_variant -%}
        {%- for option in product.options_with_values -%}
            {%- liquid
                if settings.product_color_swatches
                    assign is_color = false
                    assign color_option_index = 0
                    assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase
                    assign color_option_index = forloop.index0
                    assign downcased_option = option.name | downcase
                    if downcased_option contains swatch_trigger
                        assign is_color = true
                    elsif swatch_trigger == 'color' and downcased_option contains 'colour'
                        assign is_color = true
                    endif
                endif
            -%}

            {%- if settings.variant_type == 'button' -%}
                {%- render 'variant-button',
                        section_id: section_id,
                        option: option,
                        forloop: forloop,
                        is_color: is_color,
                        color_option_index: color_option_index
                -%}
            {%- else -%}
                {%- render 'variant-dropdown',
                        section_id: section_id,
                        option: option,
                        forloop: forloop
                -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endunless -%}

    <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section_id }}" class="product-single__variants no-js">
        {%- for variant in product.variants -%}
            {%- if variant.available -%}
                <option {% if variant == product.selected_or_first_available_variant %}
                    selected="selected"{% endif %}
                        value="{{ variant.id }}">
                    {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
            {%- else -%}
                <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
            {%- endif -%}
        {%- endfor -%}
    </select>

    {% if product.metafields.custom.sibling_products %}
        {% render "sibling-product-snippet" %}
    {%- endif -%}

    {% if template == 'product.Albutrix25' and product.metafields.custom.includes_microtrix %}
        <div class="outline-rounded mb-4" style="display: flex; gap: 30px; align-items: center; line-height: 1.2; padding: .35rem 2rem .35rem 2.25rem;">
            <div style="flex: 0 0 11%;">
                <img src="//cdn.shopify.com/s/files/1/0012/4754/3384/files/microtrix_silo_tight.png?v=1709265260" alt="" />
            </div>
            <div>
                <p class="mb-1">Microtrix is included FREE with every Albutrix order to ensure all nutritional guidelines are met.</p>
                <a href="#" style="text-decoration: underline;" id="link-WhatIsMicrotrix">What is Microtrix?</a>
            </div>
        </div>

<style>
    .inner-el-orig {
        overflow: visible; transform: scale(1); transform-origin: center center; max-height: 100%; border-radius: 6px; position: relative; display: flex; justify-content: center; flex: 0 0 auto; align-self: center;
    }
    .inner-el {
        overflow: visible;
        width: 95%;
        min-width: 300px;
        max-width: 800px;
        max-height: 100%; border-radius: 6px; position: relative; display: flex; justify-content: center; flex: 0 0 auto; align-self: center;
    }
    .microtrix-popup {
        display: flex; gap: 4%; align-items: center; line-height: 1.3;
    }
    .microtrix-popup .bottle {
        flex: 1 1 26%;
    }
    .microtrix-popup .text {
        text-align: left !important;
        flex: 1 1 70%;
    }

    @media (min-width: 600px) {
        .microtrix-popup .bottle {
            flex: 1 1 18%;
        }
        .microtrix-popup .text {
            flex: 1 1 78%;
        }
    }

</style>


        <div class="jsModalRoot" role="dialog" aria-modal="true" aria-labelledby="link-WhatIsMicrotrix" id="modal-WhatIsMicrotrix"
             style="display: none;z-index: 90000;position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;justify-content: center;align-items: center;overflow: clip auto;background-color: rgba(20, 20, 20, 0.6);animation-timing-function: ease;animation-play-state: running;animation-iteration-count: 1;animation-fill-mode: both;animation-delay: 0.25s;animation-duration: 0.35s;">
            <div class="inner-el">
                <div style="flex: 1 1 0%;">
                    <div style="position: relative; flex-direction: column; display: flex; margin-left: 20px; margin-right: 20px; flex: 1 1 0%; align-self: stretch;">
                        <div>
                            <div style="position: relative; display: flex; flex: 1 1 0%; align-self: stretch; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 30px; border-radius: 6px;">
                                <button tabindex="0" aria-label="Close dialog" class="jsCloseModal"
                                        style="right: 0px; top: 0px; position: absolute; z-index: 6; cursor: pointer; height: 35px; width: 35px; border-radius: 50%; margin-right: 8px; margin-top: 8px;">
                                    <svg role="img" width="35" height="35" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><title id="title-Close-dialog">Close dialog</title>
                                        <circle cx="10" cy="10" r="9.5" fill="rgba(180,187,195,0)" stroke="rgba(255,255,255,0)" style="cursor: pointer;"></circle>
                                        <path d="M6 6L14 14M6 14L14 6L6 14Z" stroke="#373F47" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer;"></path>
                                    </svg>
                                </button>
                                <div style="display: flex; flex-direction: row; box-sizing: border-box; border-radius: 6px; border-style: none; border-width: 0px; border-color: #000; background-color: #fff; padding: 15px 40px; flex: 1 1 0%;">
                                    <div class="microtrix-popup">
                                        <div class="bottle">
                                            <img alt="" src="https://cdn.shopify.com/s/files/1/0012/4754/3384/files/microtrix_silo_tight_480x480.png?v=1709265260" data-mce-src="https://cdn.shopify.com/s/files/1/0012/4754/3384/files/microtrix_silo_tight_480x480.png?v=1709265260">
                                        </div>
                                        <div class="text">
                                            <h4 style="font-size: 13px;">What is Microtrix?</h4>
                                            <p style="font-size: 13px;">Microtrix, is the first and only multivitamin for kidney patients on a low protein diet.
                                                Any diet can run the risk of malnutrition or overnutrition (getting too much of something), both harmful to kidney patients.
                                                Microtrix provides any shortfalls in the RDA so that long-term nutritional safety is assured.
                                                Microtrix also provides vitamin K2, important for its association with calcium regulation and reduced vascular calcification.</p>
                                            <p style="font-size: 13px;"><strong>Microtrix is included FREE with every Albutrix order to ensure all nutrition guidelines are met.</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function jQueryLoadedCallback() {
                $(document).on('click.modalClose', '.jsCloseModal', function(e){
                    e.preventDefault();
                    $(this).closest('.jsModalRoot').css('display','none');
                })

                $('#link-WhatIsMicrotrix').click(function(e) {
                    e.preventDefault();
                    $('#modal-WhatIsMicrotrix').css('display','flex');
                });
            }

            function checkForJQuery(method) {
                if (window.jQuery)
                    method();
                else
                    setTimeout(function() { checkForJQuery(method) }, 200);
            }

            checkForJQuery(jQueryLoadedCallback);

        </script>
    {%- endif -%}

    <div class="product__quantity__button">

        {%- if settings.quantity_enable -%}
            <div class="product__quantity product__quantity--{{ settings.variant_type }}">
                <label class="visually-hidden" for="Quantity-{{ section_id }}">{{ 'products.product.quantity' | t }}</label>
                {%- render 'quantity-input', id: section_id, qty: 1, min: 1 -%}
            </div>
        {%- endif -%}

        {%- assign inventory_visible = false -%}
        {%- if settings.inventory_enable and current_variant.inventory_management == 'shopify' -%}
            {%- if current_variant.inventory_quantity <= settings.inventory_threshold and current_variant.inventory_quantity >= 0 -%}
                {%- assign inventory_visible = true -%}
            {%- endif -%}
        {%- endif -%}

        {%- liquid
            if current_variant.inventory_quantity == 0 or current_variant.inventory_policy == 'continue'
                assign inventory_visible = false
            endif

            assign show_incoming = false
            if current_variant.incoming and inventory_visible == false and current_variant.inventory_quantity <= settings.inventory_threshold
                assign show_incoming = true
            endif
        -%}

        {%- if settings.inventory_enable -%}
            <div
                    id="ProductInventory-{{ section_id }}"
                    class="product__inventory{% unless inventory_visible %} hide{% endunless %}"
            >
                {%- if current_variant.available -%}
                    {{ 'products.product.stock_label' | t: count: current_variant.inventory_quantity }}
                {%- endif -%}
            </div>
        {%- endif -%}

        {%- if settings.inventory_transfers_enable -%}
            <div
                    id="ProductIncomingInventory-{{ section_id }}"
                    class="product__inventory{% if inventory_visible %} hide{% endif %}">
                {%- if show_incoming == true -%}
                    {%- if current_variant.next_incoming_date -%}
                        {%- assign date = current_variant.next_incoming_date | date: format: 'date' -%}
                        {%- if current_variant.available -%}
                            {{ 'products.product.will_not_ship_until' | t: date: date }}
                        {%- else -%}
                            {{ 'products.product.will_be_in_stock_after' | t: date: date }}
                        {%- endif -%}
                    {%- else -%}
                        {{ 'products.product.waiting_for_stock' | t }}
                    {%- endif -%}
                {%- endif -%}
            </div>
        {%- endif -%}

        {%- liquid
            assign enable_dynamic_buttons = false
            if settings.enable_payment_button and template != 'product.preorder'
                assign enable_dynamic_buttons = true
            endif
        -%}

        {%- if enable_dynamic_buttons -%}
            <div class="payment-buttons">
        {%- endif -%}

        {%- liquid
            assign default_text = 'products.product.add_to_cart' | t
            assign button_text = 'products.product.add_to_cart' | t
            if template == 'product.preorder'
                assign default_text = 'products.product.preorder' | t
                assign button_text = 'products.product.preorder' | t
            endif
            unless current_variant.available
                assign button_text = 'products.product.sold_out' | t
            endunless
        -%}

        <button
                {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
                name="add"
                id="AddToCart-{{ section_id }}"
                class="btn btn--full add-to-cart{% if enable_dynamic_buttons and product.selling_plan_groups == empty %} btn--secondary{% endif %}"
        {% unless current_variant.available %} disabled="disabled"{% endunless %}>
          <span id="AddToCartText-{{ section_id }}" data-default-text="{{ default_text }}">
            {{ button_text }}
          </span>
        </button>

        {%- if enable_dynamic_buttons -%}
            {{ form | payment_button }}
        {%- endif -%}

        {%- if enable_dynamic_buttons -%}
            </div>
        {%- endif -%}

    </div>

    <textarea id="VariantsJson-{{ section_id }}" class="hide" aria-hidden="true" aria-label="Product JSON">
    {{ product.variants | json }}
  </textarea>
    {%- if product.options.size > 1 -%}
        <textarea id="CurrentVariantJson-{{ section_id }}" class="hide" aria-hidden="true" aria-label="Variant JSON">
      {{ current_variant | json }}
    </textarea>
    {%- endif -%}
{%- endform -%}
