{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    background-color: var(--bg-color);
    }
    .section-{{ section.id }}-padding .image-wrap {
    background: transparent;
    }
    .image-graphs {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    }
    @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}


<div class="section-{{ section.id }}-padding" style="--bg-color: {{ section.settings.background | default: '#000' }};">
    <div class="page-width page-width-narrow">
        <div class="image-graphs">
            {% for block in section.blocks %}
                {%- if block.settings.image != blank -%}
                    <div class="image-graph {{ block.settings.view }}">
                        <div style="margin: 0 auto;">
                            <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                                {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                <img class="lazyload"
                                     role="presentation"
                                     data-src="{{ img_url }}"
                                     data-widths="[180, 360, 540, 720, 900, 1600]"
                                     data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                                     data-sizes="auto"
                                     alt="{{ block.settings.image.alt }}">
                            </div>
                        </div>
                    </div>
                {%- else -%}
                    <div class="image-graph {{ block.settings.view }}">
                        <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                    </div>
                {%- endif -%}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
"name": "Graphic images",
"settings": [
{
"type": "checkbox",
"id": "full_width",
"label": "Full width",
"default": true
},
{
"type": "color",
"id": "background",
"label": "Background color"
},
{
"type": "header",
"content": "Section Padding"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "Padding top",
"default": 36
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "Padding bottom",
"default": 36
}
],
"blocks": [
{
"type": "image",
"name": "image",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "select",
"id": "view",
"label": "Show only in",
"options": [
{
"value": "d-lg-none d-md-none",
"label": "Mobile"
},
{
"value": "d-sm-none d-lg-none",
"label": "Tablet"
},
{
"value": "d-md-none",
"label": "Desktop"
}
],
"default": "d-md-none"
}
]
}
],
"presets": [
{
"name": "Graphic images"
}
]
}
{% endschema %}