{%- liquid
    assign showContactUs = false
    if template == 'product.Albutrix25'
        assign showContactUs = true
    endif
-%}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="guaranteeContent-block" style="background: {{ section.settings.guaranteeBgColor }};" class="{% if section.settings.guaranteeImage %} has-image{% endif %}">
<div class="guaranteeContent-block-inner" style="background-color: {{ section.settings.guaranteeInnerBgColor }}; border: {{ section.settings.guaranteeBorderWidth }}px solid {{ section.settings.guaranteeBorderColor }}; border-radius: {{ section.settings.guaranteeBorderRadius }}px;">
    {%- if section.settings.guaranteeImage -%}
        <div class="guaranteeContentdiv guaranteeContentdivimage">
            <img src="{{ section.settings.guaranteeImage | img_url: 'original' }}" alt="{{ section.settings.guaranteeTitle }}" />
        </div>
    {%- endif -%}
    <div class="guaranteeContentdiv">
        <div class="section-header text-{{ section.settings.align_text }}">
            <h2>{{ section.settings.guaranteeTitle }}</h2>
        </div>
        <div class="section-content">
            {{ section.settings.guaranteeDescription }}
        </div>
    </div>
    {%- if showContactUs -%}
        <div style="padding: 10px 0 0 0; text-align: center;">
        <div class="guaranteeContactUs">
            <div class="h3 mb-1 text-center lexend-600">
                Still Have Questions?
            </div>
            <div class="section-content">
                Our US-Based Support team is available to help. <a id="link-homeContact-contact" href="/pages/contact-us">Contact Us Now</a><br>
                Phone: <a id="link-homeContact-tel" href="tel:1-800-441-1045">800-441-1045</a> | Email: <a id="link-homeContact-email" href="mailto:support@kidneyhood.org">support@kidneyhood.org</a>
            </div>
        </div>
        </div>
    {%- endif -%}
</div>
</div>


{% schema %}
{
"name": "Guarantee Content",
"settings": [
{
"type": "color",
"id": "guaranteeBgColor",
"label": "Guarantee BG Color"
},
{
"type": "color",
"id": "guaranteeInnerBgColor",
"label": "Guarantee Inner BG Color",
"default": "rgba(0,0,0,0)"
},
{
"type": "range",
"id": "guaranteeBorderWidth",
"label": "Guarantee Border Width",
"default": 0,
"min": 0,
"max": 10,
"step": 1,
"unit": "px"
},
{
"type": "range",
"id": "guaranteeBorderRadius",
"label": "Guarantee Border Radius",
"default": 0,
"min": 0,
"max": 30,
"step": 1,
"unit": "px"
},
{
"type": "color",
"id": "guaranteeBorderColor",
"label": "Guarantee Border Color",
"default": "rgba(0,0,0,0)"
},
{
"type": "image_picker",
"id": "guaranteeImage",
"label": "Guarantee Image"
},
{
"type": "text",
"id": "guaranteeTitle",
"label": "Guarantee title"
},
{
"type": "textarea",
"id": "guaranteeDescription",
"label": "Guarantee Description"
},
{
"type": "select",
"id": "align_text",
"label": "Alignment",
"default": "left",
"options": [
{
"value": "left",
"label": "Left"
},
{
"value": "center",
"label": "Centered"
},
{
"value": "right",
"label": "Right"
}
]
}
]
}
{% endschema %}
<style>
    .guaranteeContent-block {
        padding: 25px 5%;
        display: flex;
    }
    .guaranteeContent-block-inner {
        padding: 25px 5%;
    }
    .guaranteeContent-block .guaranteeContentdiv {
    }
    .guaranteeContent-block .has-image .guaranteeContentdiv {
        width:50%;
    }
    .guaranteeContentdivimage{
        text-align:center;
    }
    .guaranteeContent-block .guaranteeContentdiv h2 {
        font-size: 22px;
        line-height: 30px;
        font-weight: 600;
    }
    .guaranteeContent-block .guaranteeContentdiv ul {
        margin-top:30px;
        margin-left: 22px;
        list-style-type:none;
    }
    .guaranteeContent-block .guaranteeContentdiv ul li {
        margin-bottom:10px;
        position:relative;
        padding-left:10px;
        font-size: 17px;
    }
    .guaranteeContent-block .guaranteeContentdiv ul li span {
        position: absolute;
        left: -20px;
        top: 0px;
        bottom: 0px;
    }
    .guaranteeContent-block .guaranteeContentdiv ul li span fa:before {
        font-size: 19px;
    }
    @media screen and (max-width: 768px) {
        .guaranteeContent-block{
            display:block;
        }
        .guaranteeContent-block .guaranteeContentdiv {
            width:100%;
        }
        .guaranteeContent-block .guaranteeContentdiv h2 {
            margin-top: 25px;
        }
    }
</style>
